body {
    background-image: url("http://ilyakhasanov.ru/images/background/8.jpg");
    margin: 0;

}

h1 {
    color: #000;
    font-size: 6.5em;
    margin-bottom: 0;
    text-align: center;
    background-color: darkolivegreen; 
    border-width: 10px;
    border-style: inset;
    border-color: olivedrab
}

h2 {
    font-size: 2em;
    margin-top: 0;
    padding-top: 0;
}

nav a {
    padding: 5px 20%;
    margin-left: 35px;
    text-decoration: none;
    margin-top: 10px;
    display: inline-block;
    background-color:darkolivegreen;
    border-radius: 4px;
}

nav a:visited, a:link {
    color: #000;
    border-style: inset;
    border-color: olivedrab;
    border-width: 5px;
}

nav a:hover {
    color: #eee;
    background-color:olivedrab;
    border-style: outset;
    border-color: olive;
}

nava.active {
    color: #039be5;
}