[class*='col-'] {
    float: left;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}
[class*='col-']:last-of-type {
    padding-right: 0;
}
a {
    text-decoration: none;
}
*, *:after, *:before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
h3 {
  background-color: darkolivegreen;
  color: #000;
  margin-bottom: 0;
  max-width: 110px;
  text-align: center;
  margin-left: 46%;
  border-width: 5px;
  border-style: inset;
  border-color: olivedrab;
}

h4 {
    position: relative;
}
.grid {
    margin: 0;
}
.col-1-4 {
    width: 25%;
}
.module {
    padding: 20px;
    text-align: center;
    color: #000;
    max-height: 120px;
    min-width: 120px;
    background-color: darkolivegreen;
    border-radius: 2px;
    border-style: outset;
    border-width: 5px;
    border-color: olivedrab;
}
.module:hover {
    background-color: olivedrab;
    cursor: pointer;
    color: #eee;
    border-style: inset;
    border-color: olive;
    border-width: 5px;
  }
  .grid-pad {
    padding: 10px 0;
  }
  .grid-pad > [class*='col-']:last-of-type {
    padding-right: 20px;
  }
  @media (max-width: 600px) {
    .module {
      font-size: 10px;
      max-height: 75px; }
  }
  @media (max-width: 1024px) {
    .grid {
      margin: 0;
    }
    .module {
      min-width: 60px;
    }
  }